html,
body {
  height: 100%;
  position: relative;
  background-color: #303030;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  border-right: 2px solid #fff;
  width: 350px;
  height: 100%;
}

#navbar h1 {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.5em;
  color: #fff;
}

#navbar li {
  padding: 9px 0px 9px 20px;
}

#navbar a {
  color: #fff;
}

#navbar a:link {
  text-decoration: none;
}

#navbar a:hover {
  text-decoration: underline;
}

.property-li a {
  padding-left: 20px;
}

#main-doc {
  position: absolute;
  background-color: #303030;
  margin-left: 352px;
  height: 100%;
}

#main-doc hr {
  width: 150%;
}

.main-section {
  color: #fff;
  padding: 20px;
}

.main-title {
  font-size: 1.8em;
  padding-bottom: 20px;
}

.main-section p {
  padding-left: 20px;
}

.main-section ul {
  padding: 20px 0px 0px 40px;
}

.main-section li {
  padding-top: 2px;
  padding-bottom: 2px;
}

.main-section a {
  background-color: #404040;
  color: #fff;
}

.main-section a:hover {
  border: 1px solid #fff;
  text-decoration: none;
}

.properties-section {
  padding-left: 50px;
}

@media all and (max-width: 800px) {
  #navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #fff;
    overflow-y: auto;
  }
  #navbar li {
    text-align: center;
    padding-left: 20px;
  }
  .property-li a {
    padding-left: 0px;
  }
  #main-doc {
    margin-top: 252px;
    margin-left: 0px;
  }
}
