html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  background-color: #000;
  height: 100%;
  margin: 0px;
}

#navbar {
  position: sticky;
  background-color: #202020;
  height: 100%;
  width: 350px;
}

#nav-title {
  color: #fff;
  text-align: center;
}

.nav-link {
  color: #fff;
  padding-left: 30px;
}

.nav-link:link {
  text-decoration: none;
}

.nav-link:visited: {
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
}

#main-doc {
  background-color: #303030;
  flex-grow: 1;
}

@media all and (max-width: 700px) {
  #navbar {
    position: fixed;
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
